<!-- Config file for the game -->

<config>
	<window>
   		<R_FULLSCREEN/>false
    		<R_BORDERLESS/>false
    		<R_RESIZABLE/>false
    		<R_FULLSCR_WINDOWED/>false
   		<SCREEN_WIDTH/>640
    		<SCREEN_HEIGHT/> 480
    		<WINDOW_TITLE/> "My Game"
    		<SCALE/>1
    		<ORGANIZATION/>My Awesome Studio
    		<APPNAME/>My cool game
	</window>
	
	
	
	
	
	
	
	
</config>